@use "variables" as *;

.grid {
	.blog-card {
		@media (min-width: $breakpoint-md) {
			grid-template-columns: repeat(3, 1fr);
		}

		ul {
			padding: 0;
			list-style: none;
			display: flex;
			gap: $spacing_two;

			li {
				padding: $spacing_two $spacing_three;
				border-radius: 40px;
				line-height: 11px;
				font-size: 11px;
				color: var(--y);
				text-transform: capitalize;
				border: 1px solid var(--y);
			}
		}

		.cards {
			display: grid;
			gap: $spacing_eight;
			margin: 16px 0;
			grid-column-gap: $spacing_nine;
			grid-row-gap: $spacing_four;
			opacity: 0;
			transform: translateX(-160px);
			transition:
				opacity 2s ease,
				transform 2s ease;

			.card-txt {
				padding: $spacing_five $spacing_four;

				.main-txt {
					height: 100%;
					box-sizing: border-box;
					align-content: center;

					.d {
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						text-overflow: ellipsis;
						font-size: 16px;
						color: var(--grey_light);
						margin-bottom: $spacing_five;
					}

					.main-txt-links {
						display: flex;
						gap: $spacing_three;
						flex-wrap: wrap;

						a {
							border: 1px solid var(--black_jet);
							padding: $spacing_two $spacing_four;
							border-radius: 64px;
						}

						&:hover {
							color: var(--primary);
						}
					}
				}
			}

			a {
				text-decoration: none;
			}

			.card-img {
				width: 100%;
				height: 240px;
				overflow: hidden;
				transition-duration: 400ms;
				border-radius: 2px;

				img {
					border-style: none;
					width: 100%;
					object-fit: cover;
					height: 240px;
				}

				&:hover {
					transform: rotate(2deg);
				}
			}

			&:nth-of-type(odd) {
				.card-img {
					&:hover {
						transform: rotate(-2deg);
					}
				}
			}

			@media (min-width: $breakpoint-md) {
				grid-template-columns: repeat(2, 1fr);

				.card-img {
					height: 320px;

					img {
						height: 320px;
					}
				}

				&:nth-of-type(odd) {
					.card-img {
						order: -1;
					}
				}
			}

			h1 {
				font-weight: 600;
				margin: 0;
				text-wrap: wrap;
			}

			a {
				padding: 0;
				margin: 0;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.cards.from-right {
			transform: translateX(160px);
		}

		.cards.visible {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

.art-card {
	@media (min-width: $breakpoint-md) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: $spacing_six;
		transition: all 0.4s ease;
	}

	.card-art {
		img {
			width: 100%;
			overflow: hidden;
			transition-duration: 400ms;
			opacity: 1;
			border-style: none;
			object-fit: cover;
			height: 320px;
			border-radius: 2px;

			&:hover {
				transform: rotate(2deg);
			}
		}
	}
}

.card-art {
	opacity: 0;
	transform: translateY(60px);
	transition:
		opacity 0.6s ease,
		transform 0.6s ease;
}

.card-art.visible {
	opacity: 1;
	transform: translateY(0);
}
