.grid {
	.blog-card {
		@media (min-width: $breakpoint-md) {
			grid-template-columns: repeat(3, 1fr);

			.main {
				&.cards {
					transition-duration: 200ms;
					grid-column-start: 1;
					grid-column-end: 4;
					grid-row-start: 1;
					grid-row-end: 3;

					.card-img {
						height: 320px;
						width: 60%;
						float: left;

						img {
							height: 100%;
						}
					}

					.s {
						display: block !important;
					}

					.card-txt {
						padding-left: 48px;
						width: 40%;
						border-bottom: none;
						float: right;

						.main-txt {
							text-align: left;
						}
					}
				}
			}
		}

		ul {
			padding: 0;
			list-style: none;
			display: flex;
			gap: $spacing_two;

			li {
				padding: $spacing_one $spacing_two;
				border-radius: 40px;
				line-height: 11px;
				font-size: 11px;
				color: var(--black_jet);
				border: 1px dashed var(--black_jet);
				text-transform: capitalize;
			}
		}

		.cards {
			display: grid;
			gap: $spacing_eight;
			margin: 16px 0;
			transition: all 0.4s ease;
			grid-column-gap: $spacing_nine;
			grid-row-gap: $spacing_four;

			.card-txt {
				padding: $spacing_five $spacing_four;

				.main-txt {
					height: 100%;
					box-sizing: border-box;

					.d {
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						text-overflow: ellipsis;
						font-size: 16px;
						color: var(--black_jet);
						margin-bottom: $spacing_five;
					}

					.main-txt-links {
						display: flex;
						gap: $spacing_three;
						flex-wrap: wrap;

						a {
							border: 1px solid var(--black_jet);
							padding: $spacing_two $spacing_four;
							border-radius: 64px;
						}
					}
				}
			}

			@media (min-width: $breakpoint-md) {
				grid-template-columns: repeat(2, 1fr);

				&:nth-of-type(odd) {
					.card-img {
						order: -1;
					}
				}

				.card-txt {
					padding: $spacing_ten $spacing_eight;
				}
			}

			a {
				text-decoration: none;
			}

			.card-img {
				width: 100%;
				height: 560px;
				overflow: hidden;
				transition-duration: 400ms;

				img {
					border-style: none;
					width: 100%;
					object-fit: cover;
					height: 560px;
					border-radius: 16px;
				}

				&:hover {
					transform: rotate(2deg);
				}
			}

			h1 {
				font-weight: 600;
				margin: 0;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
			}

			a {
				padding: 0;
				margin: 0;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
