body {
	&.inner {
		background-color: var(--white_off);

		.intro-img {
			width: 100%;

			img {
				max-width: 100%;
				opacity: 0.08;
				filter: var(--filter);
			}
		}

		.home-intro {
			overflow: hidden;
		}

		.home {
			width: 100vw;
			height: calc(100vh - 64px);

			.intro {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				margin-bottom: $spacing_seven;
				z-index: 1;
			}

			.secondary {
				display: grid;
				max-width: $breakpoint-xs;
				gap: $spacing_seven;

				@media (min-width: $breakpoint-lg) {
					max-width: 100%;
					grid-template-columns: repeat(3, 1fr);
				}

				ul {
					display: flex;
					gap: $spacing_two;
					flex-wrap: wrap;

					li {
						padding: $spacing_three $spacing_six;
						border: 1px dashed var(--black_jet);
						border-radius: 64px;
						margin: 0;
					}
				}
			}

			.more {
				border: 2px solid var(--black_jet);
				padding: $spacing_four $spacing_six;
				border-radius: 64px;
				width: fit-content;
				height: fit-content;
				transform: rotate(90deg) translateX(30%) translateY(80%);
				transition-duration: 400ms;
				text-decoration: none;

				&:hover {
					text-decoration: none;
					transform: rotate(90deg) translateX(30%) translateY(80%)
						scale(1.08);
				}
			}
		}

		.about-img {
			max-width: $breakpoint-md;
			margin: $spacing_eight auto;
			transition-duration: 800ms;

			img {
				width: 100%;
				border-radius: 16px;
				filter: grayscale(1);
			}

			&:hover {
				max-width: 100%;

				img {
					filter: none;
					width: 100%;
				}
			}
		}

		section {
			display: block;

			&.bg {
				background-color: var(--white);

				.grid {
					margin-bottom: 0;
				}
			}

			.time {
				font-size: 16px;
				color: var(--grey_med);

				span {
					color: var(--orange);
					font-weight: bold;
				}
			}

			.title {
				color: var(--black_jet);
				font-weight: bold;
				margin-top: 24px;
				word-wrap: break-word;
			}

			.sec-title {
				color: var(--orange);
				font-weight: 600;
				font-size: 40px;
				line-height: 64px;
			}

			.sec-txt {
				p {
					@media (min-width: 992px) {
						padding-right: 24px;
					}
				}
			}

			li {
				margin: 8px 0;
			}

			p,
			li {
				color: var(--grey_med);
			}

			ul {
				list-style: none;
			}

			.grid {
				margin: 0 auto;
				max-width: 1280px;
				padding: $spacing_seven $spacing_six;

				.ul-s {
					display: flex;
					gap: $spacing_three;
					flex-wrap: wrap;

					li {
						border: 2px solid var(--black_jet);
						padding: 0 $spacing_three;
						border-radius: 64px;
						list-style: none;
						color: var(--black_jet);
						text-transform: capitalize;
						transition: box-shadow 400ms;

						a {
							font-size: 16px;
							text-decoration: none;
						}

						&:hover {
							transform: rotate(2deg);
						}
					}
				}
			}
		}
	}
}
