@use "variables" as *;

.list-blocks {
	display: flex;
	flex-wrap: wrap;
	gap: $spacing_four;
	margin: $spacing_eight auto;
	justify-content: center;
	max-width: $breakpoint-sm;
}

.list {
	font-size: 18px;
	line-height: 24px;
	color: var(--black_jet);
	list-style: circle !important;
	margin: $spacing_four 0 $spacing_four $spacing_five;
}

.list-grid-title {
	text-align: center;
	margin: 0 auto $spacing_seven auto;
}

.list-grid {
	display: grid;
	gap: $spacing_six;
	padding-bottom: $spacing_five;
	margin: $spacing_six $spacing_two $spacing_six $spacing_two;

	@media (min-width: $breakpoint-sm) {
		margin: $spacing_six $spacing_six $spacing_six $spacing_six;
	}

	div {
		background-image: url("/static/images/card.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: $spacing_seven;
		border-radius: 2px;
		transition: transform 400ms;

		h3 {
			color: var(--white);
		}

		p {
			color: var(--white-off) !important;
		}

		&:hover {
			&:nth-of-type(odd) {
				transform: rotate(1deg);
			}

			&:nth-of-type(even) {
				transform: rotate(-1deg);
			}
		}
	}

	@media (min-width: $breakpoint-md) {
		grid-template-columns: repeat(2, 1fr);
		margin: $spacing_six $spacing_eight $spacing_nine $spacing_eight;

		div {
			&:hover {
				&:nth-of-type(odd) {
					transform: rotate(2deg);
				}

				&:nth-of-type(even) {
					transform: rotate(-2deg);
				}
			}
		}
	}
}
