@use 'variables' as *;

.list-blocks {
	display: flex;
	flex-wrap: wrap;
	gap: $spacing_four;
	padding: $spacing_five;
	margin: $spacing_five auto;
	background: var(--black_jet);
	justify-content: center;
	max-width: $breakpoint-sm;
	border-radius: 40px;

	li {
		padding: $spacing_one $spacing_four;
		border: 1px solid var(--white);
		color: var(--white) !important;
		margin: 0 !important;
		border-radius: 64px;

		&.imp {
			background: var(--white);
			color: var(--black_jet) !important;
		}
	}
}

.list {
	font-size: 18px;
	line-height: 24px;
	color: var(--black_jet);
	list-style: circle !important;
	margin: $spacing_four 0 $spacing_four $spacing_five;
}

.list-grid-title {
	text-align: center;
	margin: auto;
}

.list-grid {
	display: grid;
	gap: $spacing_six;
	padding-bottom: $spacing_five;
	margin: $spacing_six $spacing_two $spacing_six $spacing_two;

	@media (min-width: $breakpoint-sm) {
		margin: $spacing_six $spacing_six $spacing_six $spacing_six;
	}

	div {
		border-radius: 16px;
		background: var(--white);
		padding: $spacing_five;
		transition: transform 400ms;

		&:hover {
			&:nth-of-type(odd) {
				transform: rotate(1deg);
			}

			&:nth-of-type(even) {
				transform: rotate(-1deg);
			}
		}
	}

	@media (min-width: $breakpoint-md) {
		grid-template-columns: repeat(2, 1fr);
		margin: $spacing_six $spacing_eight $spacing_nine $spacing_eight;

		div {
			&:hover {
				&:nth-of-type(odd) {
					transform: rotate(2deg);
				}

				&:nth-of-type(even) {
					transform: rotate(-2deg);
				}
			}
		}
	}
}
