.list-blocks {
	display: flex;
	flex-wrap: wrap;
	gap: $spacing_four;
	padding: $spacing_five;
	margin: $spacing_five 0;
	box-shadow: var(--black_dusty) 8px 8px 0px 0px;
	border: 2px solid var(--black_dusty);

	li {
		padding: $spacing_three $spacing_four;
		border: 1px dashed var(--black_dusty);
		margin: 0 !important;
		border-radius: 64px;
	}
}

.list {
	font-size: 18px;
	line-height: 24px;
	color: var(--black_jet);
	list-style: circle !important;
	margin: $spacing_four 0 $spacing_four $spacing_five;
}

.list-grid-title {
	text-align: center;
	margin: auto;
}

.list-grid {
	display: grid;
	gap: $spacing_six;
	padding-bottom: $spacing_five;
	margin: $spacing_six $spacing_six $spacing_nine $spacing_six;

	div {
		box-shadow: var(--black_dusty) 8px 8px 0px 0px;
		border: 2px solid var(--black_dusty);
		background: var(--white);
		padding: $spacing_five;
		transition: transform 400ms;

		&:nth-of-type(odd) {
			transform: rotate(1deg);
		}

		&:nth-of-type(even) {
			transform: rotate(-1deg);
		}

		&:hover {
			transform: rotate(0);
		}
	}

	@media (min-width: $breakpoint-md) {
		grid-template-columns: repeat(2, 1fr);
		margin: $spacing_six $spacing_eight $spacing_nine $spacing_eight;

		div {
			&:nth-of-type(odd) {
				transform: rotate(2deg);
			}

			&:nth-of-type(even) {
				transform: rotate(-2deg);
			}

			&:hover {
				transform: rotate(0);
			}
		}
	}
}
