/* nav */
@use 'variables' as *;

.nav-out {
	background: transparent;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	width: 100%;
	display: block;
	position: sticky;
	top: 0;
	z-index: 10;
	height: 64px;

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		height: 64px;
		margin: 0 auto;

		a,
		p {
			font-size: 16px;
			line-height: 16px;
		}

		li a {
			padding: 0;
			text-decoration: none;
			border: 1px solid var(--black_dusty);
			padding: $spacing_one $spacing_two;
			border-radius: 64px;
		}

		.nav-links {
			list-style: none;
			display: none;
			gap: $spacing_two;

			li {
				&:hover {
					text-decoration: none;
					transform: rotate(2deg);
				}
			}
		}

		@media (min-width: $breakpoint-lg) {
			.nav-links {
				display: flex;
			}

			.nav-logo,
			.nav-git {
				width: 250px;
			}
		}

		.nav-logo {
			a {
				text-decoration: none;

				span::before {
					content: "M";
				}

				h3::before {
					content: "T";
				}
			}

			&:hover {
				span::before {
					content: "Mott.";
				}

				h3::before {
					content: "Thomas";
				}
			}
		}

		.nav-btn {
			display: flex;
			align-items: center;
			gap: $spacing_three;

			.nav-img {
				height: 24px;
				width: 24px;
				border-radius: 64px;
				overflow: hidden;

				img {
					height: 24px;
				}
			}
		}

		bottom p {
			display: flex;
			justify-content: center;
			padding: 0 0 32px 0;
		}
	}
}

// .nav-lower {
// 	background-image: url(../static/images/dropdown.png);
// 	height: 8px;
// 	width: 100%;
// 	background-color: transparent;
// 	background-repeat: repeat-x;
// 	background-size: 80px 8px;
// 	background-position: center center;
// 	position: absolute;
// 	top: 64px;
// 	z-index: 8;
// }
