@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

html {
	scroll-behavior: smooth;
}

.bg-dot {
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 64px;
	background-color: var(--grey_med);
	opacity: 0.2;
	z-index: 0;
}

main {
	min-height: calc(100vh - 200px);
}

/* animations */

.bounce {
	animation: bounce 2s ease infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
