.tldr-about {
	position: relative;
	width: 100%;
	padding: 0;
	margin-left: auto;
	display: block;
	z-index: 1;

	.tldr-inner {
		margin: $spacing_eight 0;
		box-shadow: var(--black_dusty) 8px 8px 0px 0px;
		border: 2px solid var(--black_dusty);
		padding: $spacing_five;
		background: var(--white);
	}

	h2 {
		margin-top: 0;
	}

	@media (min-width: 992px) {
		width: 25rem;
		height: 0;
		top: 20rem;
		left: 0;
		position: sticky;
	}
}

.details {
	@media (min-width: 992px) {
		width: calc(100% - 32rem);
		margin: $spacing_eight 0;
	}
}
