.tldr-about {
	position: relative;
	width: 100%;
	padding: 0;
	margin-left: auto;
	display: block;
	z-index: 1;

	.tldr-inner {
		margin: $spacing_eight 0;
		box-shadow: var(--black_dusty) 4px 4px 0px 0px;
		border-radius: 16px;
		border: 1px solid var(--black_dusty);
		padding: $spacing_five;
		background: var(--white);
	}

	h2 {
		margin-top: 0;
	}

	@media (min-width: 992px) {
		width: 25rem;
		height: 0;
		top: 20rem;
		left: 0;
		position: sticky;
	}
}

.tldr-text {
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	margin: $spacing_ten auto;
	max-width: $breakpoint-sm;
}

.details {
	@media (min-width: 992px) {
		width: calc(100% - 32rem);
		margin: $spacing_eight 0;
	}
}
