/*breakpoints*/
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1300px;
$breakpoint-xl: 1760px;
$breakpoint-lx: 2200px;

/*filter*/

/*colours*/
:root {
	--filter: none;

	#default {
		--black_dusty: #455385;
		--black_jet: #5b6485;
		--grey_med: #787088;
		--grey_light: #d7d7d7;
		--white_off: #faf9f8;
		--white: #ffffff;
	}

	#dark {
		--black_dusty: #e6e6e6;
		--black_jet: #f6f0e2;
		--grey_med: #bcbcbc;
		--grey_light: #808080;
		--white_off: #2a2a2a;
		--white: #1a1a1a;

		--filter: brightness(10);
	}

	#candy {
		--black_dusty: #4e609f;
		--black_jet: #6874a0;
		--grey_med: #787088;
		--grey_light: #e7e7e7;
		--white_off: #fdf0f2;
		--white: #f1fdfd;
	}

	#sea {
		--black_dusty: #4e609f;
		--black_jet: #6874a0;
		--grey_med: #787088;
		--grey_light: #e7e7e7;
		--white_off: #e7fbf9;
		--white: #fcf6e2;
	}
}

/*borders*/
$border-light: 1px var(--grey_light) solid;
$border-medium: 1px var(--grey_med) solid;
$border-bold: 1px var(--black_jet) solid;
$border-heavy: 2px var(--black_jet) solid;

/*shadow*/
$box-shadow-one: 0 2px 4px var(--grey_light);
$box-shadow-two: 0 3px 6px var(--grey_light);
$box-shadow-three: 0 6px 12px var(--grey_light);
$box-shadow-four: 0 9px 18px var(--grey_light);

/*radius*/
$radius_sm: 4px;
$radius_md: 8px;
$radius_lg: 16px;
$radius_full: 50%;

/*spacing variables*/
$spacing_one: 4px;
$spacing_two: 8px;
$spacing_three: 12px;
$spacing_four: 16px;
$spacing_five: 24px;
$spacing_six: 32px;
$spacing_seven: 48px;
$spacing_eight: 64px;
$spacing_nine: 96px;
$spacing_ten: 128px;
