---
layout: layouts/base.njk
permalink: /categories/{{ category.permalinkScheme }}
js: index
pagination:
    data: collections.categoriesByPage
    size: 1
    alias: category
---

{% include "postsTitle.njk" %}
{% include "cat-posts.njk" %}

