---
title: Thomas Mott | UX lead.
description: The visionary design studio which creates flawless solutions to solve challenges like no other.
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 3
  alias: posts
  reverse: true
---
<div id="background" class="background"></div>
<section class="home home-intro">
	<div class="grid">
		<div class="intro">
			<div class="secondary">
					<h1>A strategic thinker and UX designer. Using user research to guide brands toward better solutions.</h1>
					<a class="more" href="/#about">Read more &#x276F;</a>
			</div>
			<ul>
				<li>wireframing</li>
				<li>strategy</li>
				<li>ux design</li>
				<li>user research</li>
				<li>ux writing</li>
				<li>ui design</li>
				<li>accessibility</li>
				<li>sustainability</li>
				<li>development</li>
				<li>analytics</li>
				<li>illustration</li>
			</ul>
		</div>
	</div>
</section>
<section class="bg">
	<div class="grid" id="about">
		<div class="about-img">
			<img src="./static/tom-headshot.jpg" />
		</div>
		<ul class="list-blocks">
			<li>8+ years design experience</li>
			<li>Dozens of projects</li>
		</ul>
		<p class="tldr-text">
			Based in Bristol, working with companies worldwide to turn user frustration into business growth.<br /><br />I have experience driving design in start-ups and small businesses. My strength has always been in multidisciplinary roles. I can design the solution and build it too.	
		</p>
	</section>
</div>
<section>
	<div class="grid logo-card">
		<div class="logo-img">
			<img src="./static/images/logos/antillion.png" />
		</div>
		<div class="logo-img">
			<img src="./static/images/logos/thrive.png" />
		</div>
		<div class="logo-img">
			<img src="./static/images/logos/tails.png" />
		</div>
		<div class="logo-img">
			<img src="./static/images/logos/mojeek.png" />
		</div>
		<div class="logo-img">
			<img src="./static/images/logos/spicy.png" />
		</div>
		<div class="logo-img">
			<img src="./static/images/logos/mencap.png" />
		</div>
	</section>
</div>
{% include "available.njk" %}
{% include "posts.njk" %}
