---
title: Thomas Mott | Ux/ UI consultancy.
description: The visionary design studio which creates flawless solutions to solve challenges like no other.
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 3
  alias: posts
  reverse: true
---
<div id="background" class="background"></div>
<section class="home home-intro">
	<div class="grid">
		<div class="intro">
			<h1><span>Thomas</span></h1>
			<h2>Mott.</h2>
			<div class="secondary">
				<h3><strong>Specialist user-experiece / user-interface designer and front-end developer.</strong></h3>
				<ul>
					<li>Web</li>
					<li>Wireframing</li>
					<li>User-Experience</li>
					<li>Product Design</li>
					<li>User Interface Design</li>
					<li>Illustration</li>
					<li>Accessibility</li>
				</ul>
				<a class="more" href="/#about">Read more &#x276F;</a>
			</div>
		</div>
		<div class="intro-img">
			<img src="./static/t1.png" />
		</div>
	</div>
</section>
<section class="bg">
	<div class="grid"  id="about">
		<div class="about-img">
			<img src="./static/me.jpg" />
		</div>
		<p class="tldr-text">
			Located in Bristol, but able to solve challenges worldwide. I am always interested in impactful opportunities. This can be from accessibility audits, to wireframing or coding front-end components. I will transform your problem into a remarkable solution, where innovation and ingenuity converge.
		</p>
		<ul class="list-blocks">
			<li class="imp">7+ years design experience</li>
			<li class="imp">Dozens of projects</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>Figma</li>
			<li>React</li>
			<li>Eleventy</li>
			<li>Miro</li>
			<li>Adobe CC</li>
		</ul>
	</div>
</section>
<section>
	<div class="grid">
		<div class="tldr-about">
			<div class="tldr-inner">
				<h2>TL;DR</h2>
				<p>I'm a <strong>user experience</strong> / <strong>user interface</strong> specialist, and <strong>front-end developer</strong>. I am also available for illustration.</p>
				<p><a href="mailto:thomasnathanielmott@gmail.com">Get in touch</a>.</p>
			</div>
		</div>
		<div class="details">
			<h2>I have experience driving design in start-ups and small businesses</h2>
			<br />
			<p>My strength has always been in multidisciplinary roles. I excel at performing audits and reviews, engaging in user testing, writing design system libraries, and getting hands-on with front-end development. And in engineering projects I typically take on a double role as ux designer/front-end developer.</p>
			<br />
			<ul class="list">
				<li>High-level accessibility audits to understand areas for improvement, focused on best-practices, WCAG compliance, and practical next steps</li>
				<li>User experience content writing</li>
				<li>Wireframing and interactive prototypes</li>
				<li>Creating design language and component libraries</li>
				<li>Developing new and implementing new components improvements and bugfixes <em>(or advise the team on the improvements)</em></li>
				<li>Conducting user testing and synthesizing data into actionable opportunities</li>
			</ul>
		</div>
	</section>
	<section class="bg">
		<div class="grid">
			<div class="details">
				<h2>Want to work together?</h2>
				<p>Reach out through <a href="mailto:thomasnathanielmott@gmail.com">thomasnathanielmott@gmail.com</a> or <a href="https://www.linkedin.com/in/thomas-mott-57348b150/">LinkedIn</a>.</p>
			</div>
		</div>
	</section>
</div>
{% include "available.njk" %}
{% include "posts.njk" %}
