<section>
	<div class="grid" id="work">
		<h2 class="list-grid-title">What I can do for you</h2>
		<div class="list-grid">
			<div>
				<h3>Accessibility &amp; heuristic reviews.</h3>
				<br/>
				<p>Struggling to manage WCAG compliance as your product scales?</p>
				<p>I can do a detailed or high-level accessibility / heuristic review, and based on the outcomes suggest fixes and next steps.</p>
			</div>
			<div>
				<h3>Front-end development.</h3>
				<br/>
				<p>As a front-end developer and designer I can wireframe, prototype and build products that are user friendly, accessible and scalable.</p>
				<p>I can build accessible websites and prototypes, make improvements to existing products, or work to implement new features.</p>
			</div>
			<div>
				<h3>Wireframing &amp; prototyping.</h3>
				<br/>
				<p>Want to test ideas before building them?</p>
				<p>I can create one-off or batch prototypes using Figma that you can share with your team or with users to test.</p>
			</div>
			<div>
				<h3>Creating design systems.</h3>
				<br/>
				<p>I build good looking, user-friendly and responsive design systems using the <a href="https://atomicdesign.bradfrost.com/chapter-2/">Atomic Design Methodology</a>. I can run the process from start to finish, and design directly to code.</p>
				<p>I enjoy challenges involving different ways of working and visualising data and content, and have a lot of fun writing creative CSS / JS.</p>
			</div>
		</div>
	</div>
</section>
