<section class="bg">
	<div class="grid" id="work">
		<h2 class="list-grid-title">How I can help your team</h2>
		<div class="list-grid">
			<div>
				<h3><i data-lucide="layers"></i> Design systems</h3>
				<p>Creating design languages and component libraries that scale with your team.</p>
			</div>
			<div>
				<h3><i data-lucide="layout"></i> Wireframing</h3>
				<p>From initial concepts to testable prototypes that get stakeholder buy-in.</p>
			</div>
			<div>
				<h3><i data-lucide="users"></i> User testing</h3>
				<p>Conducting user testing and turning data into actionable opportunities for improvement.</p>
			</div>
			<div>
				<h3><i data-lucide="pen-tool"></i> UX writing</h3>
				<p>Creating content with language that actually speaks to your users.</p>
			</div>
			<div>
				<h3><i data-lucide="terminal"></i> Development</h3>
				<p>Developing new components, implementing improvements, and fixing bugs.</p>
			</div>
			<div>
				<h3><i data-lucide="shield-check"></i> Impact audits</h3>
				<p>Focusing on best practice, accessibility, and actionable steps to reduce your websites carbon footprint.</p>
			</div>
		</div>
		<div class="img-ctn">
			<img class="invert" src="./static/images/point-1.png" />
			<a class="button">Get in touch</a>
			<img class="invert" src="./static/images/point-2.png" />
		</div>
	</div>
</section>
