<footer>
	<div class="footers-theme">
		<div class="footers-inner" id="footer-theme">
			<div class="footers-theme-item">
				<p>dark</p>
				<div class="inner-span" id="dark">
				</div>
			</div>
			<div class="footers-theme-item">
				<p>light</p>
				<div class="inner-span" id="light">
				</div>
			</div>
			<div class="footers-theme-item">
				<p>candy</p>
				<div class="inner-span" id="candy">
				</div>
			</div>
			<div class="footers-theme-item">
				<p>sea</p>
				<div class="inner-span"  id="sea">
				</div>
			</div>
		</div>
	</div>
	<div class="footers-contact">
		<div class="footers-inner">
			<p>Want to work together?</p>
			<a class="button" href="mailto:thomasnathanielmott@gmail.com">Get in touch &#x276F;</a>
		</div>
	</div>
	<div class="footers-top">
		<div class="footers-inner">
			<p>ThomasMott.studio &copy;</p>
			<div class="footers-inner-social">
				<a class="soc-svg" href="https://www.linkedin.com/in/thomas-mott-57348b150/" title="LinkedIn">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/></svg>
				</a>

			</div>
		</div>
	</div>
</footer>
