<a href="#main" class="access-skip" tabindex="1">Skip to main content</a>
<header class="nav-out" aria-label="Main Navigation">
	<div class="nav">
		<div class="nav-logo">
			<a href="/">
				<h3><span>Thomas</span> Mott</h3>
			</a>
		</div>
		<nav>
			<ul class="nav-links">
				<li><a title="about"
				href="/#about">Practice</a></li>
				<li>
				<li><a title="work"
					href="/work/">Work</a></li>
				<li>
				<li><a title="projects"
					href="/projects/">Projects</a></li>
				<li>
				<li><a title="blog" target="_blank"
				href="https://www.foxgibbon.com">Blog &#10033;</a></li>
				<li>
			</ul>
		</nav>
		<div class="nav-git">
			<a class="nav-btn button" href="mailto:thomasnmott1997@gmail.com"><div class="nav-img"><img src="/static/me.jpg" /></div>Get in touch &#x276F;</a>
		</div>
	</div>
</header>
