<a href="#main" class="access-skip" tabindex="1">Skip to main content</a>
<header class="nav-out" aria-label="Main Navigation">
	<div class="nav">
		<a href="/">
			Thomas Mott.
		</a>
		<nav>
			<ul class="nav-links">
				<li><a title="projects"
				{% if page.url == "/projects/" %}
					aria-current="page"
				{% endif %}
				href="/projects/">Projects</a></li>
				<li>
				<li><a title="projects"
				{% if page.url == "/projects/" %}
					aria-current="page"
				{% endif %}
				href="/projects/">Practice</a></li>
				<li>
				<li><a title="projects"
				{% if page.url == "/projects/" %}
					aria-current="page"
				{% endif %}
				href="/projects/">Work</a></li>
				<li>
				<li><a title="projects"
				{% if page.url == "/projects/" %}
					aria-current="page"
				{% endif %}
				href="/projects/">Blog &#10033;</a></li>
				<li>
			</ul>
		</nav>
		<div>
			<a class="button" href="mailto:thomasnmott1997@gmail.com">Get in touch &#x276F;</a>
		</div>
	</div>
</header>
