<section class="bg">
	<div class="grid">
		<div class="row blog-card">
		{% for post in posts %}
			<article class="cards">
						<div class="card-txt">
							<ul>
								{% for tag in post.data.tags %}
									{% if tag !== 'post' %}
										{% if tag !== 'ep' %}
											<li>{{ tag }}</li>
										{% endif %}
									{% endif %}
								{% endfor %}
							</ul>
							<div class="main-txt">
								<h1>{{ post.data.title }}</h1>
								<p class="s">{{ post.data.date | postDate }} <span>&middot;</span> {{ post.data.time }}</p>
								<p class="d">{{ post.data.tldr }}</p>
								<div class="main-txt-links">
									<a href="/projects/{{ post.data.name }}" title="{{ post.data.title }}">View case study &#x276F;</a>
									{% if post.data.website %}
										<a href="/projects/{{ post.data.name }}" title="{{ post.data.title }}">Visit site</a>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="card-img">
							<img src="{{ post.data.image }}">
						</div>
				</article>
		{% endfor %}
		</div>
	</div>
</section>
