<section id="main">
	<div class="grid">
		{% if page.url == "/projects/" %}
			<h1 class="category-title">All projects</h1>
		{% endif %}
		<h1 class="category-title">{{ category.title }}</h1>
		<div class="categories">
		<a href="/projects/"
		{% if page.url == "/projects/" %}
			aria-current="page"
		{% endif %}
		>all</a>
		{% for category in collections.categories %}
			<a href="/categories/{{ category.slug }}/"
			{% if category.title in page.url %}
				aria-current="page"
			{% endif %}
			>{{ category.title }}</a>
		{% endfor %}
		</div>
	</div>
</section>
