<section class="bg">
	<div class="grid">
		<h2>Top Picks</h2>
		<div class="row blog-card related">
			{% for post in eposts %}
				{% if eposts[0].data.title == post.data.title %}
					<article class="cards first">
						<a href="/projects/{{ post.data.name }}" title="{{ post.data.title }}">
							<div class="card-img">
								<img src="{{ post.data.image }}">
							</div>
							<div class="card-txt">
								<div class="main-txt">
									<ul class="cat">
										{% for tag in post.data.tags %}
											{% if tag !== 'post' %}
												{% if tag !== 'ep' %}
													<li>{{ tag }}</li>
												{% endif %}
											{% endif %}
										{% endfor %}
									</ul>
									<h3><span>{{ post.data.title }}</span></h3>
									<p class="d">{{ post.data.tldr }}</p>
								</div>
							</div>
						</a>
					</article>
				{% endif %}
			{% endfor %}
			<div>
				{% for post in eposts %}
					{% if eposts[0].data.title !== post.data.title %}
						<article class="cards">
							<a href="/projects/{{ post.data.name }}" title="{{ post.data.title }}">
								<div class="card-img">
									<img src="{{ post.data.image }}">
								</div>
								<div class="card-txt">
									<div class="main-txt">
										<ul class="cat">
											{% for tag in post.data.tags %}
												{% if tag !== 'post' %}
													{% if tag !== 'ep' %}
														<li>{{ tag }}</li>
													{% endif %}
												{% endif %}
											{% endfor %}
										</ul>
										<h3><span>{{ post.data.title }}</span></h3>
										<p class="d">{{ post.data.tldr }}</p>
									</div>
								</div>
							</a>
						</article>
					{% endif %}
				{% endfor %}
			</div>
   		</div>
  	</div>
</section>
