<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="HTML,CSS,XML,JavaScript">
		<meta name="author" content="Thomas Mott">
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">
		<link rel="stylesheet" href="/css/all.css">
		<link rel="icon" href="/static/images/favicon.ico">
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-RD113EDS1R');
		</script>
	</head>
	<body id="dark" class="inner">
		{% include "nav.njk" %}
		<main>
			{{ content | safe }}
		</main>
		{% include "footer.njk" %}
	</body>
	<script src="/js/darkmode.js"></script>
	<script src='/js/{{ js }}.js'></script>
</html>
