---
layout: layouts/base.njk
js: read
---

<section>
	<div class="grid">
		<div class="top-info">
			<p class="time">{{ time }} <span>&middot</span> {{ date | postDate }}</p>
			<ul class="ul-s">
				{% for tag in tags %}
					{% if tag !== 'post' %}
						{% if tag !== 'ep' %}
							<li><a href="/categories/{{tag}}/">{{tag}}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
			<h1 class="title">{{ title }}</h1>
			<h2>{{ subtitle }}</h2>
			{% if tldr %}
				<div class="tldr">
					<p>{{ tldr }}</p>
				</div>
			{% endif %}
			<div class="float-container right">
				{% if related %}
				<div class="float">
					<h4>Related Links</h4>
					<ul>
					{% for link in related %}
					<li>{{ link }}</li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
			<div>
				<img src="{{ image }}">
			</div>
		</div>
		<div class="grid">
			<article class="case">
				{{ content | safe }}
				{% if refs %}
				<br>
				<h4>References</h4>
				<ul>
				{% for link in refs %}
				<li>{{ link }}</li>
				{% endfor %}
				</ul>
				{% endif %}
			</article>
		</div>
	</div>
</section>
<div id="reading-progress"><div class="reading-progress-container"><div id="reading-progress-fill"></div></div></div>
{% set posts = collections[tags[1]] | related(page.url, 9998) %}
{% include "posts.njk" %}
